


<div class="card d-flex card-item" *ngIf="movie">
  <img class="card-img-top" [src]="movie?.imageUrl" alt="Card image cap">
  <div  class="rating__top-right card-rating-score" *ngIf="movie.score && movie.score.overall">
    <i class="fa-solid fa-star"></i>
    {{movie.score.overall}}</div>

  <div class="card-body ">
    <h6 class="card-title cart-item-title">{{movie?.overview?.title}}</h6>
    <ng-container *ngFor="let genc of movie?.overview?.genres">
      <span class="badge badge-primary" style="background-color:rgb(60, 8, 106)">{{genc}}</span>
    </ng-container>
    <p class="card-text cart-item-paragraph" >{{movie?.overview?.plotSummery}}</p>
  </div>
  <div class="card-footer">
    <span >90%</span>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>
